.browsehappy, .aaa {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: 'Trebuchet MS';
}

.header,
.footer {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 30px;
  width: 100%;
}

/*Header Section*/
.header {
  height: 66px;
  background-color: #76B251;
}
.header img {
  width: 66px;
  height: 66px;
}
/*End Header Section*/

/*Footer Section*/
.footer {
  font-size: 15px;
  text-transform: capitalize;
  background-color: #76B252;
  height: 50px;
  color: #FFF;
}
.footer > div {
  position: relative;
  top: 50%;
}
.footer span {
  position: absolute;
  right: 20px;
  transform: translate(0,-50%);
}
/*end Footer section*/

/*Placeholder*/
::-webkit-input-placeholder {
   padding: 0 0 0 20px;
}

:-moz-placeholder { /* Firefox 18- */
   padding: 0 0 0 20px;
}

::-moz-placeholder {  /* Firefox 19+ */
   padding: 0 0 0 20px;
}

:-ms-input-placeholder {
   padding: 0 0 0 20px;
}
/*end Placeholder */
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .header {
    height: 111px;
    margin-bottom: 20px;
  }
  .header img {
    width: auto;
    height: auto;
  }
}
