.menu-item-section ul {
	list-style: none;
	padding: 0;
}
.menu-item-section li {
	border-bottom: 2px solid #76B251;
	padding: 20px 0;
}
.menu-item-section li:hover {
	background-color: #F0F7EC;
}
.menu-item-section .item-name {
	color: #473535;
	font-size: 15px;
}
.menu-item-section .quantity {
	text-align: center;
}
.menu-item-section .item-price {
	font-size: 16px;
	color: #264811;
	text-align: right;
}

.menu-item-section .total-price {
	width: 100%;
	height: 50px;
	font-size: 16px;
	background-color: #DA5421;
	margin: 20px 0;
	position: relative;
	float: right;
	color: #FFF;
}

.total-price span {
	top: 50%;
	transform: translate(0, -50%);
}
.total-price span:first-child {
	position: absolute;
	left: 20px;
}
.total-price span:last-child {
	position: absolute;
	right: 20px;
}

.checkout-form input[type="submit"] {
	float: right;
	color: #FFF;
	font-size: 16px;
	background-color: #76B252;
	border: 1px solid #46891E;
	width: 60%;
	height: 40px;
	text-transform: uppercase;
	margin: 10px 0 20px 0;
}
input[type="submit"].disabled {
	opacity: 0.65;
  	cursor: not-allowed;
}

@media screen and (min-width: 768px) {
	.menu-item-section .total-price {
		width: 462px;
		height: 64px;
		font-size: 20px;
	}
	.menu-item-section .item-price {
		font-size: 20px;
	}
	.checkout-form input[type="submit"] {
		width: 194px;
		font-size: 20px;
	}
}